span {
  margin-right: 30px;
  color: #01c5c4;
}

h1 {
  display: inline-block;
  color: #cc0e74;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style-type: none;
}
